Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/InfinityBladeAdversaries
Content/Sword_Master_Battle_Sounds
Content/ParagonAurora
Content/InfinityBladeIceLands
Content/Maps/FrozenCove.umap
